.leftbar {
    height: calc(100vh - 65px);
    flex: 2.5;
    overflow-y: scroll;
    position: sticky;
    top: 65px;
    left: 0;
    width: 100%;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgb(147, 147, 147);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(79, 79, 79);
}
@media all and (max-width: 1300px){
    .leftbar{
        display: none;
    }
}