.todaynews {
    background-color: var(--light-main-color-1);
    margin: 20px 30px;
    border-radius: 20px;
    width: 85%;
    
}
.dark .todaynews {
    background-color: var(--dark-main-color-1);
}
.todaynews p {
    font-family: 'Poppins', sans-serif;
}
.todaynewsWrapper {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}.todaysnewsUpper {
    margin-bottom: 15px;
}
.todaysnewsUpper p {
    font-size: 1.1rem;
    font-weight: 600;
}
.todaynewsMainContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.News {
    font-size: 0.9rem;
    color: rgb(37, 37, 37);
    margin-bottom: 2px;
    width: 92%;
}
.newsTime {
    font-size: 0.8rem;
    color: rgb(124, 124, 124);
}
