.newsfeed {
    margin: 20px 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    background-color: var(--light-main-color-1);
    border-radius: 20px;
    width: 100%;
}
.dark .newsfeed {
    background-color: var(--dark-main-color-1);
}
.newsfeedmaincontainer {
    padding: 20px 20px;
}
.newsfeedheaderText {
    font-size: 1rem;
    margin-bottom: 15px;
    margin-left: 10px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color:var(--main-text-color-2);
}
.newsfeedcontent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0;
}
.newfeesContentText {
    margin-left: 16px;
    font-size: 1.12rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:var(--main-text-color-2);
}